* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
 background-image: url("./bg-netflix.jpg");
  color: white;
}
.container{
    min-height: 100vh;
  background-color: black;
  opacity: 0.85;
}

h1 {
  text-align: center;
  color: #e50914;
  padding-top: 2.5rem;
  font-size: 2.5em;
  letter-spacing: 1px;
}

.searchBar {
  text-align: center;
  margin: 20px;
}
.searchBar input {
  width: 250px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
}

.searchBar button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #e50914;
  color: #fff;
}
.searchBar button:hover {
  background-color: #ed9ea2;
  color: #141414;
  transform: scale(1.03);
  transition: 0.3s;
}

#movieConatiner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 20px;
}

.movie {
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(224, 223, 223, 0.2);
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s;
}

.movie img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  
}
.movie h3 {
  color: #333;
  font-size: 1.1rem;
  font-weight: 600;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add "..." */
  display: block;
  margin: 1em;
}
.movie p {
  color: #777;
  font-size: 14px;
  margin: 15px;
}

.movie:hover {
  transform: scale(1.05);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  background-color:  #e50914;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #ed9ea2;
  color: #141414;
  transform: scale(1.03);
  transition: 0.3s;
}

@media (max-width: 768px) {

  h1 {
    font-size: 2em;
    padding-top: 1.5rem;
  }

  .searchBar input {
    width: 180px;
    font-size: 14px;
  }

  .searchBar button {
    padding: 8px 15px;
    font-size: 14px;
  }

  #movieConatiner {
    grid-template-columns: 1fr; 
    gap: 1rem;
    padding: 10px 20px;
  }

  .movie img {
    height: 300px; 
  }

  .pagination {
    display: flex;
  
    gap: 8px;
  }

  .pagination button {
    width: 40%;
    max-width: 200px;
    margin-bottom: 2em;
  }
}
